html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: lightgrey;
     user-select: none; /* controls the clicks on the screen, to prevent deselecting*/

}
/*styles the textfield, button and items in cart r*/
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}
/*image styling*/
img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

/*text field styling*/
input {

    color: #432000;
    background-color: #DCE1EB;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

#form1{
    color: #432000;
    background-color: #DCE1EB;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

select{
    color: #432000;
    background-color: #DCE1EB;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}




/* style button*/
button {
    
    color: #ffd89eff;
    background-color: #ff6978ff;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif; 
    
}
/*style change when you hover the button*/
button:hover{
    background-color: #ffd89eff;
    cursor:pointer;
    color: #493e2d;
}
/*display flex to use flex-wrap that create nice grid */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
    

/*style the items added to the cart, */
ul li{
    background-color: #FFFDF8;
    font-size: 20px;
    color: #493e2d;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    font-size: bold;
    flex-grow: 1;
    
}

/* hovert effect for list items*/
li:hover{
    background-color: #ff6978ff;
    color: #ffd89eff;
}